.hero {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 3em;
  padding-right: 40%;
  background-size: cover;
  background-position: center right;
  background-color: #d8e2e4;

  .caption {
    @extend %container;
  }

  .story-content {
    @extend %column;
    @extend %col-xs-12;
    @extend %col-sm-8;
    margin: 0;
  }

  h1 {
    padding-top: 0.5em;

    @media screen and (max-width: $screen-md-max){

    }
    @media screen and (max-width: $screen-xs-max){
      padding-top: 0;
    }
  }

  @media screen and (max-width: 500px){
    padding: 1em;
    background-image: none !important;
    background-size: 0 0;
  }
}
.homepage-events {
  clear: both;
}