.main-content {
  margin-top: 20px;
  margin-bottom: 40px;

  dl {
    line-height: 1.3em;
  }
  dd {
    margin: 0;
  }
  dt {
    margin: 0.8em 0 0 0;
  }

}

.expired {
  h1 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
    margin: 0.3em 0;
  }
  .body {
    font-size: 0.9em;
  }
}