.section.resources
  .container
    %h2 Resources

    .panel
      %h3 HUD Resources
      %dl
        %dt
          %a{href: "https://www.hudexchange.info/resources/documents/Service-Coordinators-in-Multifamily-Housing-Program-Resource-Guide.pdf"} HUD’s Service Coordinators in Multifamily Housing Program Resource Guide

        %dt
          %a{href: "https://www.hudexchange.info/trainings/service-coordinators-in-multifamily-housing-online-learning-tool/"} The Service Coordinators in Multifamily Housing Online Learning Tool

    .panel
      %h3 Important documents
      %dl
        %dt
          %a{href: "https://oha.ri.gov/resources"} 2023 OHA Pocket Guide: Resource Guide for Older Adults and Adults with Disabilities.
        %dt
          %a{:href => "https://hudexchange.info/programs/standards-for-success"} Standards for Success Report

        %dt
          %a{:href => "/resources/dea_protective_services_referral.pdf"} DEA Protective Services Referral Form

    .panel
      %h3 Websites
      %dl
        %dt Rhode Island Housing
        %dd
          %a{:href => "https://www.rhodeislandhousing.org/"} https://www.rhodeislandhousing.org/

        %dt New England Resident Service Coordinators - NERSC
        %dd
          %a{:href => "http://www.nerscinc.org/"} http://www.nerscinc.org/

        %dt US Dept of Housing  and Urban Development - HUD
        %dd
          %a{:href => "http://www.hud.gov/"} http://www.hud.gov/

        %dt American Association of  Service Coordinators - AASC
        %dd
          %a{:href => "http://www.servicecoordinator.org/"} http://www.servicecoordinator.org/

        %dt Rhode Island Office of Healthy Aging
        %dd
          %a{:href => "https://oha.ri.gov/"} https://oha.ri.gov/

        %dt The Point: Rhode Island Resources for Seniors and Adults with Disabilities
        %dd
          %a{:href => "https://www.unitedwayri.org/get-help/point/"} https://www.unitedwayri.org/get-help/point/
