.section.resources
  .container
    %h2 Resources

    .panel
      %dl
        %dt
          %a{:href => "/resources/spmi_training_3_11.pdf"} SPMI presentation - March 11, 2021

    .panel
      %h3 New HUD Resources
      %dl
        %dt
          %a{href: "https://www.hudexchange.info/resources/documents/Service-Coordinators-in-Multifamily-Housing-Program-Resource-Guide.pdf"} HUD’s Service Coordinators in Multifamily Housing Program Resource Guide

        %dt
          %a{href: "https://www.hudexchange.info/trainings/service-coordinators-in-multifamily-housing-online-learning-tool/"} The Service Coordinators in Multifamily Housing Online Learning Tool

    .panel
      %h3 Important documents
      %dl
        %dt
          %a{href: "/resources/2016_resources_ri_ohhs_caregiverguide_508_compliant-pamphlet.pdf"} 2016 Resource RI OHHS Caregiver Guide
        %dt
          %a{:href => "http://portal.hud.gov/hudportal/documents/huddoc?id=92456.pdf"} HUD Semi-annual Performance Report Form
        %dt
          %a{:href => "http://sos.ri.gov/documents/archives/regdocs/released/pdf/DELDA/5908.pdf"} Rules, Regulations and Standards Governing Security for Housing for the Elderly
          \-
          %span{:style => "font-size: 0.9em;"} Source: Rhode Island Department of Elderly Affairs
        %dd Updated February 2010
        %dt
          %a{:href => "/resources/dea_protective_services_referral.pdf"} DEA Protective Services Referral Form

    .panel
      %h3 Recent presentations
      %dl
        %dt
          %a{:href => "/resources/on_the_fly_presentation.pdf"} On the Fly Reference Guide For the Healthcare Professional
        %dd Dementia Training - November 3, 2011
        %dt
          %a{:href => "/resources/riscc_dementia_presentation.pdf"} What’s Happening?: Working Respectfully and Effectively with People with Dementia
        %dd Dementia Training - November 3, 2011
        %dt
          %a{:href => "/resources/memory_types_handout.pdf"} Memory types handout
        %dd Dementia Training - November 3, 2011
        %dt
          %a{:href => "/resources/rick_riscc.pdf"} Documentation in the Human Services: Ethical and Risk-management Issues
        %dd February 11, 2010

    .panel
      %h3 Web sites
      %dl
        %dt Rhode Island Housing
        %dd
          %a{:href => "http://www.rhodeislandhousing.org/"} http://www.rhodeislandhousing.org/
        %dt New England Resident Service Coordinators - NERSC
        %dd
          %a{:href => "http://www.nerscinc.org/"} http://www.nerscinc.org/
        %dt US Dept of Housing  and Urban Development - HUD
        %dd
          %a{:href => "http://www.hud.gov/"} http://www.hud.gov/
        %dt American Association of  Service Coordinators - AASC
        %dd
          %a{:href => "http://www.servicecoordinator.org/"} http://www.servicecoordinator.org/
        %dt Rhode Island Department of Elderly Affairs
        %dd
          %a{:href => "http://www.dea.ri.gov/"} http://www.dea.ri.gov/
        %dt The Point: Rhode Island Resources for Seniors and Adults with Disabilities
        %dd
          %a{:href => "http://adrc.ohhs.ri.gov/"} http://adrc.ohhs.ri.gov/
