.section.certification
  .container
    %h2 Certification
    %h3
      Rhode Island Service Coordinator Collaborative (RISCC) RSC Certification/Re-certification Policy and Procedure
    %div{:style => "font-size: 0.8em;"} Revised 5/2020
    %ul
      %li The training year will be from June 1 through May 31.
      %li Initial 36 hour certification packets are due December 31.
      %li Certification packets must be postmarked no later than May 31.
      %li
        Please be sure to use the
        %a{:href => "riscc_certification_form.pdf"}RISCC Training Tracking forms
        with your packet.
      %li We suggest packets be mailed "Return Receipt."
      %li Packets will not be returned - please keep a copy for your records.

    %p
      %a{:href => "https://www.hud.gov/sites/documents/DOC_25245.PDF"} HUD RSC Training Guidelines
    %p
      %a{:href => "riscc_training_attendance.pdf"} Training attendance evidence form
    %p
      %a{:href => "riscc_certification_form.pdf"} Training Tracking form for recertification
    %p
      %a{:href => "support_service_training_documentation.pdf"} Initial Certification Training Checklist

    %h4 Definition of Training/Education:
    %ul
      %li Any training event or course (including college level) with the purpose of providing professional education in the social services field
      %li This excludes: training held for resident/tenant education and General board/ committee or community meetings.
      %li Credit is awarded for the number of hours of actual attendance for RISCC trainings. Tardiness will result in loss of credit to the next ½ hour.
      %li College level courses will be credited according to pertinent subject matter and semester hours. It is important to include a copy of the official course description.

    %h4 Initial/Lapsed Certification Requirements:
    %ul
      %li Requests for certification will be accepted by the December 31.
      %li Evidence (proof of attendance) of at least 36 hours of education/ training covering HUD’s (9) areas of knowledge (HUD Guidelines attached) accumulated within 12 months from date of hire.
      %li These 36 hours must include at least 6 hours of training hosted by the RI Service Coordinator Collaborative.

    %h4 Recertification Requirements:
    %ul
      %li Evidence (proof of attendance) of at least 12 hours of education/ training within the past 12 months.
      %li This needs to include at least 1 training hosted by the RISCC.

    %h4 Special Credit Hours:
    %ul
      %li Planning and presenting a training session for RISCC, NERSC, AASC, IREM, or NEHMA is awarded as 4 hours of training.
      %li Membership on the Board/Planning Committee of the RI Service Coordinator Collaborative is awarded 6 hours of training credit.
      %li For special consideration for other items, please contact RISCC before July 31 (or December 31, if applicable.)
