.section.board
  .container
    %h2 Board members

    %dl
      %dt Nicole Reddy
      %dd.title President
      %dd POAH Communities, Heritage Village, 24 Union Drive, North Kingstown, RI 02852
      %dd.email nreddy@poahcommunities.com

      %dt Diane Gemma
      %dd.title Vice President
      %dd Peabody Properties, Chimney Hill Apartments, 2065 Mendon Road, Cumberland, RI 02864
      %dd.email dgemma@peabodyproperties.com

      %dt Elizabeth Bode
      %dd.title Secretary
      %dd Davenport Associates, Ltd. Charlesgate Park West Apartments, 369 Montgomery Avenue Providence, RI 02905
      %dd.email ebode@charlesgateapts.net

      %dt Vicki Rinne
      %dd Treasurer
      %dd Westerly Senior Center, 39 State Street, Westerly, 02891
      %dd.email vicki@wsc.necoxmail.com

      %dt Rebecca Cruz
      %dd Governing Committee Chair
      %dd Wingate Companies, 4 Sisters, 254 Washington Street, Providence, RI 02903
      %dd.email Rcruz@wingatecompanies.com

      %dt Janine Kent
      %dd Resource Committee Chair
      %dd Rhode Island Housing, 44 Washington Street, Providence, RI 02903
      %dd.email jkent@rihousing.com

      %dt Zoila Medina
      %dd.title Enrichment Committee Chair
      %dd Perspectives Corporation, 1130 Ten Rod Road, Suite B101, North Kingstown, RI 02852
      %dd.email z.medina401@icloud.com

      %dt Krissy Ramaglia
      %dd Collaborations Committee Chair
      %dd Centredale Manor, 2074 Smith Street, North Providence, RI 02911
      %dd.email kramaglia@cornerstonecorporation.net
