.section.board
  .container
    %h2 Board members

    %dl
      %dt Nicole Reddy
      %dd.title President
      %dd POAH Communities
      %dd.email nreddy@poahcommunities.com
      %dd.phone 401-318-1900 or 401-884-6580

      %dt Diane Gemma
      %dd.title Vice President
      %dd Peabody Properties, 2065 Mendon Rd, Cumberland, RI 02864
      %dd.email dgemma@peabodyproperties.com
      %dd.phone 401-333-0266

      %dt Elizabeth Bode
      %dd.title Secretary
      %dd Davenport Associates, Ltd. Charlesgate Park West Apartments, 369 Montgomery Avenue Providence, RI 02905
      %dd.email ebode@charlesgateapts.net
      %dd.phone 401-453-9351

      %dt John Goncalves
      %dd Treasurer
      %dd Cornerstone Corporation, Towers East, 75 East Ave., Pawtucket, RI 02860
      %dd.email jgoncalvesrsc@gmail.com
      %dd.phone 401-639-9117

      %dt Rebecca Cruz
      %dd Governing Committee Chair
      %dd Wingate Companies
      %dd.email Rcruz@wingatecompanies.com
      %dd.phone 401-521-1031

      %dt Janine Kent
      %dd Resource Committee Chair
      %dd Rhode Island Housing, 44 Washington St., Providence, RI 02903
      %dd.email jkent@rihousing.com
      %dd.phone 401-457-1125

      %dt Zoila Medina
      %dd.title Enrichment Committee Chair
      %dd Perspectives Corporation 1130 Ten Rod Rd Ste B101 North Kingstown, RI 02852
      %dd.email z.medina401@icloud.com
      -# %dd.phone 401-821-8612

      %dt Sandra L. McCarthy
      %dd Collaborations Committee Chair
      %dd Charlesgate, 50 Randall Street Providence, RI 02904
      %dd.email smccarthy@charlesgateapts.net
      %dd.phone 401-453-9327
