.section.board
  .container
    %h2 Board members

    %dl
      %dt Nicole Reddy
      %dd.title President
      %dd Preservation Housing Management LLC, 204 Greenville Ave. Johnston, RI 02910
      %dd.email nreddy@poahcommunities.com
      %dd.phone 401-318-1900 or 401-884-6580

      %dt Amy Alba
      %dd.title Vice President
      %dd Dimeo Properties, 300 Broadway, Pawtucket, RI 02860
      %dd.email aalba@dimeoproperties.com
      %dd.phone 508-222-3480 or 401-723-3490

      %dt Elizabeth Bode
      %dd.title Secretary
      %dd Davenport Associates, Ltd. Charlesgate Park West Apartments, 369 Montgomery Avenue Providence, RI 02905
      %dd.email ebode@charlesgateapts.net
      %dd.phone 401-453-9351

      %dt John Goncalves
      %dd Treasurer
      %dd Cornerstone Corporation, Towers East, 75 East Ave., Pawtucket, RI 02860
      %dd.email jgoncalvesrsc@verizon.net
      %dd.phone 401-726-1210

      %dt Jesus Diaz
      %dd Resource Committee Chair
      %dd Rhode Island Housing, 44 Washington St., Providence, RI 02903
      %dd.email jdiaz@rihousing.com
      %dd.phone 401-457-1233

      %dt Jessica Migneault
      %dd.title Enrichment Committee Chair
      %dd Lincoln Housing Authority 10 Franklin Street Lincoln, RI 02865
      %dd.email jessica@lincolnhousing.org
      %dd.phone 401-724-8910 x221

      %dt Sandra L. McCarthy
      %dd Collaborations Committee Chair
      %dd Charlesgate, 50 Randall Street Providence, RI 02904
      %dd.email smccarthy@charlesgateapts.net
      %dd.phone 401-453-9327
