.section.board
  .container
    %h2 Board members

    .board-grid
      .board-card
        %h3 Nicole Reddy
        %p.title President
        %p POAH Communities, Heritage Village, 24 Union Drive, North Kingstown, RI 02852
        %a.email{href: "mailto:nreddy@poahcommunities.com"} nreddy@poahcommunities.com

      .board-card
        %h3 Diane Gemma
        %p.title Vice President
        %p Peabody Properties, Chimney Hill Apartments, 2065 Mendon Road, Cumberland, RI 02864
        %a.email{href: "mailto:dgemma@peabodyproperties.com"} dgemma@peabodyproperties.com

      .board-card
        %h3 Elizabeth Bode
        %p.title Secretary
        %p Davenport Associates, Ltd. Charlesgate Park West Apartments, 369 Montgomery Avenue Providence, RI 02905
        %a.email{href: "mailto:ebode@charlesgateapts.net"} ebode@charlesgateapts.net

      .board-card
        %h3 Vicki Rinne
        %p.title Treasurer
        %p Westerly Senior Center, 39 State Street, Westerly, 02891
        %a.email{href: "mailto:vicki@wsc.necoxmail.com"} vicki@wsc.necoxmail.com

      .board-card
        %h3 Rebecca Cruz
        %p.title Governing Committee Chair
        %p Wingate Companies, 4 Sisters, 254 Washington Street, Providence, RI 02903
        %a.email{href: "mailto:Rcruz@wingatecompanies.com"} Rcruz@wingatecompanies.com

      .board-card
        %h3 Janine Kent
        %p.title Resource Committee Chair
        %p Rhode Island Housing, 44 Washington Street, Providence, RI 02903
        %a.email{href: "mailto:jkent@rihousing.com"} jkent@rihousing.com

      .board-card
        %h3 Zoila Medina
        %p.title Enrichment Committee Chair
        %p Perspectives Corporation, 1130 Ten Rod Road, Suite B101, North Kingstown, RI 02852
        %a.email{href: "mailto:z.medina401@icloud.com"} z.medina401@icloud.com

      .board-card
        %h3 Krissy Ramaglia
        %p.title Collaborations Committee Chair
        %p Centredale Manor, 2074 Smith Street, North Providence, RI 02911
        %a.email{href: "mailto:kramaglia@cornerstonecorporation.net"} kramaglia@cornerstonecorporation.net
