.section.contact
  .container
    %h2 Contact
    %dl
      %dt John Goncalves, CRSC
      %dd
        RISCC, P.O. Box 9012
        Pawtucket, RI 02862
      %dd.email jgoncalvesrsc@verizon.net
      %dd.phone 401-726-1210
      %dd Fax:  401-726-7630
