.section.events
  .container
    %h2 Events

    .items
      - events = data.events.map(&:last).select{|e| e.event_date >= Time.now}
      - if events.length > 0
        - events.sort{|a,b| a.event_date <=> b.event_date}.each do |event|
          = partial 'partials/events/event', locals: {event: event}
      - else
        %p None to announce at this time
    %hr

    .items.expired
      - old_events = data.events.map(&:last).select{|e| e.event_date < Time.now && e.event_date > Time.now - 60*60*24*30}
      - if old_events.length > 0
        %h2 Recent past events
        - old_events.sort{|a,b| b.event_date <=> a.event_date}.each do |event|
          = partial 'partials/events/event', locals: {event: event}
