.section.events
  .container
    %h2 Events



    %h3 RISCC Roundtable Discussion: Summer Programming
     
    %h4 WHEN: Tuesday, June 16, 2020 from 11:00AM to 12:00PM
     
    %h4 WHERE:      ZOOM Call- Registration Link Below
     
    %p AGENDA:    

    %ul
      %li Opening presentation on Summer Programming from Pawtucket Housing Authority
      %li Questions and Answers
      %li RISCC Member Open Sharing of Best Practices around Plans for Summer Programming
     
     
    %p OPENING PRESENTER: Maryrose Mensah, Resident Services Manager, Pawtucket Housing Authority
     
     
    %p The event is FREE to RISCC Members. 
     
    %p Earn 1 hour credit toward certification.
     
     
    %p
      %a{href: "https://us02web.zoom.us/meeting/register/tZMudOugrTgvEt2542aoxuQanX8civYm_vnM"} Register in advance for this meeting by following this link
     
    %p After registering, you will receive a confirmation email containing information about joining the meeting.



    %hr

    %h3 RISCC Virtual Training: Management Response to Covid-19

    %h3 WHEN: Friday, May 22, 2020 from 11:00AM to 12:30PM
    %h3 WHERE: ZOOM Call- Registration Link Below 

    %p AGENDA:
    %ul
      %li Presentation on the efforts management companies are making in response to Covid-19
      %li Questions and Answers
      %li RISCC Member Open Sharing of Best Practices Related to Covid-19 Response
      %li RISCC Organizational Update
      %li RISCC Update on Certification for 2020

    %p PRESENTER: Tom Stokes, VP of Community Engagement Beacon Communities

    %p The event is FREE to RISCC Members. Earn 1.5 hours toward certification.

    %p 
      %a{href: "https://us02web.zoom.us/meeting/register/tZEpdeuhrTkiE td5hQJeqKj3WOLeAjsQSN6T"} Register in advance for this meeting by following this link

    %p After registering, you will receive a confirmation email containing information about joining the meeting.



    %hr


    / %h2 DEA Academy Trainings:
    / %dl
    /   %dd Location: 1291 Hartford Avenue, Johnston, RI 02919


    / %p DEA Academy Trainings take place the 2nd Tuesday of each month from 1pm-4pm at the Johnston Senior Center 1291 Hartford Avenue, Johnston, RI 02919


    / .items
    /   - blog.articles.each do | article |
    /     = partial 'partials/news/news_item', locals: {article: article}
