.section.jobs
  .container
    %h2 Jobs


    %h3 Job Title:  Resident Service Coordinator

    %h4 Location:   Woonsocket, RI

    %h4 Job Description:

    %p Seeking a Resident Service Coordinator for a Elderly/Disabled property in the Woonsocket, RI. The Resident Service Coordinator is responsible for social service referrals and intervention.  Must be able to work with residents in resolving conflicts,
    identifying services and benefits needs to maintain independence.  Must be able to work with staff, families, and community social service agencies.

    %h4 Job Qualifications:

    %p BA in Social Work but will consider 2 years experience in related field.
    %p Must have computer skills.

    %p Please send resume and salary requirements to lbentz@pag-cdg.com


    %hr


    %h3 Resident Services Coordinator

    %p SHP Management Corp., a development and management company specializing in affordable housing, is seeking a part time, 24 hour, experienced Resident Services Coordinator to assist the elderly and disabled residents at two subsidized properties in the Providence and Northern RI  area.  

    %h4 Duties/Responsibilities:

    %p The successful candidate will be responsible for the following:
    %ul
      %li Develop effective working relationships with federal, state and local agencies and service providers.
      %li Refer residents to appropriate community services.  Coordinate multiple services and provide follow up communication with service providers, residents and Property managers.
      %li Assist in identifying and providing current information about social services and resident entitlement programs available through federal, state and local agencies and service providers.
      %li Assist in identifying, developing and coordinating on-site programs of interest to residents.
      %li Maintain documentation of all interventions and communication in resident files.
      %li Promote company and advocate for residents through participation in professional and community organizations.

    %h4 Qualifications:
    %ul
      %li A minimum of 3-years of social services/human services required.
      %li Associates or Bachelors Degree in Social Work preferred.
      %li Demonstrated competency with Microsoft Office, Word, Excel, and Outlook.
      %li Bilingual in Spanish strongly preferred.

    %p SHP is committed to a drug-free workplace.  We offer competitive wages and an excellent part time benefit package.

    %p We are an Equal Opportunity employer.

    %h4 Interested candidates
    %p
      Please email your resume with salary requirements to:
      %a{:href => "mailto:careers@shpmanagement.com"} careers@shpmanagement.com
    %p Fax: 207.512.5955

