.section.jobs
  .container
    %h2 Jobs

    %h3 RESIDENT SERVICE COORDINATOR - AFFORDABLE DIVISION

    %h4 Objective:
    %p A Resident Service Coordinator’s (RSC) primary role is to coordinate the provision of supportive services to the low-income elderly and non-elderly people with disabilities to prevent premature and inappropriate institutionalization, thereby improving residents’ quality of life.  The RSC helps to protect the owner’s investment through resident education, access to service programs, and the resident’s ability to understand and follow the terms of the lease.

    %h4 Duties and Responsibilities:
    %ul
      %li Determines the service needs of eligible residents.
      %li Identifies appropriate services available in the community.
      %li Links residents with the needed services.
      %li Monitors and evaluates the effectiveness of the supportive services.
      %li Performs other functions to enable frail and at-risk low-income elderly and non-elderly people with disabilities to live with dignity and independence.
      %li Identifies and selects services and resources with local and state agencies and assists residents who are in need of these services.
      %li Coordinates resident services program, contacts new and existing residents to explain the program and what services and resources will be available to them.
      %li Assists the residents in building informal support networks with other residents, family and friends.
      %li Monitors the on-going provision of services from community agencies and keeps the case management and provider agency current with the progress of the individual.  Manages the provision of supportive services where appropriate.
      %li Facilitates educational events which may include subjects relating to health care, agency support, life skills, referral sources, etc.
      %li Coordinates safety and security meetings with the local fire and police departments.
      %li Coordinates local meetings with representatives from DEA and/or local senior centers.
      %li Serves as a liaison to community agencies, networks with community providers and seeks out new services available to the residents.
      %li Works with the Property Manager and other management staff to assist residents with lease violation issues and maintain confidential documentation of such issues.
      %li Works with Property Manager and/or Assistant Property Manager to assist with processing of reasonable accommodation requests.
      %li Prepares monthly resident newsletter and other resident correspondence to publicize services and activities.
      %li Coordinates recreational activities for residents.  Prepares requests for payments to recreational vendors in a timely manner.
      %li Establishes and monitors goals of resident services program.  Develops new programs as required as a result of evaluation of response and effectiveness of services.
      %li Follows up on resident issues that are identified from annual apartment inspections.
      %li Provides monthly reports to the Affordable Property Management Team.
      %li Maintains a thorough working knowledge of and adheres to the company’s policies, procedures and regulations.
      %li Attends workshops, seminars, conferences, meetings and trainings.
      %li May be required to work evening hours assisting with resident functions and meetings.
      %li Assists with residents and management issues as assigned by the Property Manager and/or Assistant Property Manager.
      %li Other duties as required.

    %h4 Qualifications:
    %ul
      %li Bachelor’s Degree in Social Services, Psychology or related field or combination of one to three years’ experience in industry, plus some education.
      %li Spanish speaking is preferred
      %li Capable of completing tasks with minimum supervision.
      %li Proficient in all aspects of Microsoft Office.
      %li Possesses good telephone skills, strong follow-up skills, and a willingness to learn.  
      %li Provides exceptional customer service, works as a team player, and is able to multi-task effectively.
      %li Maintains a confidential and professional manner at all times, inside and outside of workplace.
      %li Demonstrates good verbal, written and listening communication skills.

    %h4 Physical Demands and Work Environment:
    %p The physical demands described are representative of the essential functions of the job. The position is sedentary in nature frequently requiring sitting and a certain amount of walking and standing.  Lifting requirements are approximately 10 pounds. The job operates from an office environment.  The role routinely requires the use of telephones, photocopiers, scanners, and computers.

    %h4 To apply:

    %p Please send resumes to:

    %div Melissa Punchak
    %div Human Resources Business Partner
    %div Carpionato Group, LLC
    %div 1414 Atwood Avenue, Johnston, RI 02919
    %div Phone: 401.273.6800 ext. 169 | Fax: 401.273.1181
    %div
      %a{href: 'mailto:mpunchak@carpionatogroup.com'}mpunchak@carpionatogroup.com

    %p Published February 29, 2024
