.section.jobs
  .container
    %h2 Jobs

    %p Wingate Companies is seeking a Resident Service Coordinator to assist residents at several affordable housing sites in Rhode Island and Southeastern MA. The RSC is involved, engaged and active in building positive relationships with staff, residents and community agencies.   They will connect residents with services, resources and programs relevant to their unique needs as well as provide, plan and coordinate wellness, educational and enrichment programs and services at each site.  The RSC seeks to contribute to a successful (positive) fulfilling tenancy where residents feel secure, cared for and connected in their neighborhood building and to the community at large. 

    %p Reliable transportation is a must as the position requires frequent travel throughout the state of Rhode Island and Southern Massachusetts. Bilingual in English/Spanish a plus. 

    %h5 POSITION SUMMARY
    %p The Resident Services Coordinator is responsible for the coordination of services of the resident population.  Effective service provision is reliant on a commitment from the entire management team, in which the Resident Service Coordinator plays a pivotal role in contributing to a culture where the resident experience of home and community is the best it can possibly be. The Resident Services Coordinator is directly supervised by the Senior Resident Coordinator.

    %h5 ESSENTIAL FUNCTIONS
    %p Duties may include, but are not limited to the following areas:
    %ul

      %li Identify community support resources and delivery methods, determine eligibility for accessing these services and assist residents in need to obtain them.
      %li Empower residents to make informed decisions that are conducive to their well- being, independence, self-esteem and life satisfaction.
      %li Work with residents who are at risk of eviction to manage affairs that are putting their housing in jeopardy.
      %li Assist vulnerable/at risk residents in accessing medical, psychological, social and rehabilitative supports that improve their quality of life and help them to age in place.
      %li Provide advocacy for the resident population.
      %li Educate residents on benefits and services for which they qualify and assist with acquiring them when requested.
      %li Serve as a liaison between residents and management.
      %li Facilitate resolution of conflicts between residents/neighbors
      %li Work as a team with resident circle of support which may include family members, friends, neighbors and service professionals to maximize quality of life and well- being.
      %li Work to create a climate of connection and community spirit within each neighborhood building.
      %li Establish relevant on-site educational, wellness and enrichment programs and services.
      %li Provide direct interventions and crisis intervention to residents.
      %li Develop cooperative working relationships with federal, state and local community agencies and service providers.
      %li Maintain documentation of interventions, services and communication in a confidential manner.
      %li Complete and submit necessary HUD reports and other documentation as required.

    %h5 QUALIFICATIONS: SKILLS & ABILITIES

    %ul
      %li Bachelor's degree in Human Services or related field preferred
      %li 2 to 5 years’ experience required
      %li Demonstrated competency with Microsoft Office required
      %li Excellent communication skills both oral and written 
      %li Ability to establish trust, to actively listen and to assist residents in defining their problems and identifying possible resources and solutions.
      %li Trait of being dependable and trustworthy
      %li Ability to utilize available time to organize and complete work within given deadlines
      %li Ability to work at a sustained pace and produce quality work
      %li Bilingual English/Spanish a plus

    %p This job description is subject to change, and at no time should be construed to be all inclusive.
    %p Wingate is an equal opportunity employer.
    %p Job Type: Full-time
    %p Experience: Social Service Experience: 2 years (Required)
    %p Education: Bachelor's (Preferred)
    %p Work authorization:  United States (Required)
    %p Work Location:  Multiple Locations
    %p Benefit Conditions:  Waiting period may apply

    %p
      If interested, please email resume to Kristin Caproni, Senior Resident Service Coordinator, at 
      %a{href: "mailto:kcaproni@wingatecompanies.com"} kcaproni@wingatecompanies.com

    %hr

    %h3 Community Coordinator
    %h4 Pawtucket, RI / Providence, RI

    %p WinnCompanies is searching for a Community Coordinator to join our team in Rhode Island. The Community coordinator works as core part of our property management team to support and enhance the quality of life within one or more communities within a region across Winn’s six key outcome areas: Stable Housing, Employment, Education, Health, Community Engagement and Economic Mobility. Utilizing community assessments and one-on-one coaching to establish community needs, you will build a targeted network of strong community partners across Winn’s outcome areas to develop and coordinate resource referrals/follow-up, targeted interventions, on and off-site programs and support, and community engagement opportunities.  

    %h5 Responsibilities

    %ul
      %li Provide direct assistance, resource and program referral, and 1-1 coaching (when necessary) to individuals and families based on assessed need
      %li Coordinate resources for residents that address key community needs: barriers to housing stability; employment and economic mobility opportunities; pathways to high quality early education and after-school; access to high quality healthcare and utilization increased community engagement opportunities; financial coaching and asset-building opportunities
      %li Create and implement annual Connected Communities plan for the community. Based on need, interest, and opportunities, create a comprehensive strategy for program development and implementation, information collection, partnership development, and budget implications.
      %li Collect, manage, report and analyze resident data, and insure accuracy and consistency with established data
      %li Data collected through annual resident questionnaire, resident touch points, community programs and activities, and through partner reporting
      %li Manage property Connected Communities budget, review monthly financial reports and insure accuracy in budget reporting
      %li Create and maintain a platform for resident communications including quarterly community meetings, community newsletter and social media updates

    %h5 Requirements

    %ul
      %li High School diploma or GED; Bachelor's degree preferred
      %li 1-3 years of related experience 
      %li Comprehend and communicate complex verbal information to organization staff, clients, visitors and external customers

    %h5 About Us  

    %p With 3,000 team members working across 500+ locations in 22 states and D.C., WinnCompanies is the #1 manager of affordable housing and a leader in developing and managing mixed-use properties, market rate properties and military housing.
     %p Operations, sales, compliance, maintenance, marketing, IT, HR, accounting and finance. No matter your passion, your work at Winn will impact people who are more than just residents to us. They’re individuals, families and heroes.
     
    %a{href: "https://vimeo.com/347152523/5795fc7648"} Watch this short video for a sneak peek at what it’s like to work at WinnCompanies.

    %p
      Apply at 
      %a{href: "https://www.workwithwinn.com"} www.workwithwinn.com
