.section.jobs
  .container
    %h2 Jobs

    %h3 Community Coordinator
    %h4 Pawtucket, RI / Providence, RI

    %p WinnCompanies is searching for a Community Coordinator to join our team in Rhode Island. The Community coordinator works as core part of our property management team to support and enhance the quality of life within one or more communities within a region across Winn’s six key outcome areas: Stable Housing, Employment, Education, Health, Community Engagement and Economic Mobility. Utilizing community assessments and one-on-one coaching to establish community needs, you will build a targeted network of strong community partners across Winn’s outcome areas to develop and coordinate resource referrals/follow-up, targeted interventions, on and off-site programs and support, and community engagement opportunities.  

    %h5 Responsibilities

    %ul
      %li Provide direct assistance, resource and program referral, and 1-1 coaching (when necessary) to individuals and families based on assessed need
      %li Coordinate resources for residents that address key community needs: barriers to housing stability; employment and economic mobility opportunities; pathways to high quality early education and after-school; access to high quality healthcare and utilization increased community engagement opportunities; financial coaching and asset-building opportunities
      %li Create and implement annual Connected Communities plan for the community. Based on need, interest, and opportunities, create a comprehensive strategy for program development and implementation, information collection, partnership development, and budget implications.
      %li Collect, manage, report and analyze resident data, and insure accuracy and consistency with established data
      %li Data collected through annual resident questionnaire, resident touch points, community programs and activities, and through partner reporting
      %li Manage property Connected Communities budget, review monthly financial reports and insure accuracy in budget reporting
      %li Create and maintain a platform for resident communications including quarterly community meetings, community newsletter and social media updates

    %h5 Requirements

    %ul
      %li High School diploma or GED; Bachelor's degree preferred
      %li 1-3 years of related experience 
      %li Comprehend and communicate complex verbal information to organization staff, clients, visitors and external customers

    %h5 About Us  

    %p With 3,000 team members working across 500+ locations in 22 states and D.C., WinnCompanies is the #1 manager of affordable housing and a leader in developing and managing mixed-use properties, market rate properties and military housing.
     %p Operations, sales, compliance, maintenance, marketing, IT, HR, accounting and finance. No matter your passion, your work at Winn will impact people who are more than just residents to us. They’re individuals, families and heroes.
     
    %a{href: "https://vimeo.com/347152523/5795fc7648"} Watch this short video for a sneak peek at what it’s like to work at WinnCompanies.

    %p
      Apply at 
      %a{href: "https://www.workwithwinn.com"} www.workwithwinn.com
