.section.jobs
  .container
    %h2 Jobs

    %h3 Community Coordinator I – Historic Prospect Heights

    %p WinnCompanies is looking for an adaptable and outgoing Community Coordinator I to join our team at Historic Prospect Heights apartments, a 312-unit affordable and elderly housing community located in Pawtucket, RI.
    %p In this role, you will work as a core part of our property management team across Winn’s six key outcome areas: Stable Housing, Employment, Education, Health, Community Engagement and Economic Mobility.  Works with residents, partners, and the community staff to identify needs, interests and opportunities for individuals and the community at large.  Utilizes community assessments and one-on-one coaching to establish community needs, while building a targeted network of strong community partners across Winn's outcome areas to develop and coordinate resource referrals, targeted interventions, on- and off-site programs and support, and community engagement opportunities.  As part of the property management team, provide concierge and administrative support to the community.
    %p This opportunity offers a Mon-Friday work schedule. The pay range offered for this role is of $18.68 - $23.87 dollars per hour based on experience.

    %h4 Responsibilities
    %ul
      %li Create and implement an annual Connected Communities plan for the community based on need, interest, and opportunities.
      %li Create a comprehensive strategy for program development and implementation, information collection, partnership development, and budget implications.
      %li Manage property Connected Communities budget.
      %li Review and track goals with Property Managers and Regional Managers.
      %li Provide receptionist and front desk support.
      %li Coordinate resources for residents that address six key community outcomes: housing stability, employment, economic mobility, education, health, and community engagement.
      %li Provide direct assistance, program referrals, and 1-1 coaching (when necessary) to individuals and families based on assessed need
      %li Establish and maintain relationships with local service providers, resident leadership, community stakeholders, and other community partners in Winn's 6 key outcome areas.
      %li Create and manage Memorandums of Agreement (MOUs) with third parties providing services and programs on and off-site for residents.
      %li Collect, manage, report on, and analyze resident data utilizing CONNECT, and ensure accuracy and consistency with established data. Data is collected through annual resident questionnaires, resident touchpoints, community programs, activities, and partner reporting.
      %li Develop methods of communication with residents, including but not limited to: quarterly community meetings, a monthly community newsletter, event flyers, and social media updates.
      %li Participate in professional development opportunities provided by the region, department, and Winn.
    %h4 Requirements
    %ul

      %li High School diploma or GED required, Bachelor’s degree in Social Work, Business, or Public Policy preferred.
      %li 1-3 years of related work experience
      %li Experience with various computer systems, particularly Microsoft Office Suite.
      %li Ability to produce complex documents, perform analysis, and maintain databases.
      %li Excellent customer service skills.
      %li A demonstrated track record of success with partner management.
      %li Ability to multi-task in a fast-paced office environment.
      %li Superb attention to detail.
      %li Ability to work with a diverse group of people and personalities.
      %li Outstanding verbal and written communication skills.
      %li Ability to summarize and communicate moderately complex information in varied written formats to internal and external customers.
      %li Bilingual English/Spanish

    %h4 Preferred Qualifications
    %ul
      %li Bachelor’s degree in social work, business, public policy, or related field.
      %li Experience with subsidized housing programs

    %p $18.68-$23.87 an hour

    %p
      Apply online at:
      %a{href: "https://jobs.lever.co/winnco/69459698-64cb-44be-87f8-bf5b574a6107"} https://jobs.lever.co/winnco/69459698-64cb-44be-87f8-bf5b574a6107
