.section.membership
  .container
    %h2 Membership rules and benefits
    %h3 General:

    %p
      Annual Fee:  $150 * due on the first day of September
      ($175 for membership renewals received after Oct. 31.
      Board members receive 40% discount.)

    %p
      Make checks payable to:   RISCC, P.O. Box 9012, Pawtucket, RI 02862

    %p Membership Period:  September 1st thru August 31st

    %p
      The management company and project site carry the membership and may transfer it to a new hire as necessary. The original RSC will also maintain membership status for the remainder of the period. **
      RSCs may join anytime during the membership period; however,  the fee will not be pro-rated.

    %h3 RISCC Members and Non-Members will:
    %ul
      %li Be listed in the RSC Directory
      %li Receive E-Blasts
      %li Receive notices of trainings, events, and activities
      %li Receive the New RSC Packet (new RSCs only)

    %h3 Membership Benefits:
    %ul
      %li 4-5 trainings and the annual meeting &amp; luncheon
      %li No fee for manager attending trainings with RSC **
      %li Reduced rates for other special events or activities
      %li Members' Web site and Facebook access
      %li No additional fees for certification of new RSCs achieving the initial 36 hours	of training and for annual certification of current RSCs gaining at least 15 hours of training.
      %li The privilege to vote and serve as a leader of the organization

    %h3 Non-Member fees: *****
    %ul
      %li $50 for each RISCC training (4-5 per year)
      %li $50 or more for the annual meeting &amp; luncheon
      %li $100 for (initial 36 hr.) certification of a new RSC
      %li $50 for annual recertification

    .panel
      %ul{style: "font-size: 1.3em;"}
        -# %li
        -#   %a{:href => "letter.pdf"} Membership letter to management company
        %li
          %a{:href => "application.pdf"} Membership application

    .panel.callout
      Established June 1, 2009
      | * Amended 5-18-2012
      | ** Amended 8-16-2010
      | *** Amended 8-6-2015
      | **** Amended 8-5-2016
      | ***** Amended 8-5-2023
